<!<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>v-show, v-if</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <!--
        v-if, v-else, v-else-if: Vue 객체의 data 속성값에따라 렌더링 여부를 결정
        v-show: html렌더링 후에 display 속성을 변경하여 보여줄지 여부를 결정
    -->
    <div id="account">
        예금액: <input type="text" v-model="amount" />
        <!-- <img v-if="amount<0" src="https://vuejs.org/images/logo.png" title="마이너스는 허용하지 않습니다" style="width:15px; height:15px; vertical-align:middle" /> -->
        <img v-show="amount<0" src="https://vuejs.org/images/logo.png" title="마이너스는 허용하지 않습니다" style="width:15px; height:15px; vertical-align:middle" />
        <!-- v-if: model.amount가 0 이하인 경우에만 img의 속성이 보임(렌더링하지않고있다가 렌더링을 함) -->
        <!-- 처음 아무것도 입력하지 않은 화면에서 document.querySelector('#account') 결과 src, title속성이 보이지 않음 -->
        <!-- 영하의 숫자를 입력(ex: -10)한 경우 화면에서 document.querySelector('#account') 의결과 src, title속성이 보임 -->
        <!-- v-show: style 엘리먼트의 style.display:none을 비활성화/활성화시키면서 (렌더는 하되) 화면에 보이고/보이지않도록 함-->
        <!-- 조건 만족 여부에 따라서 렌더 여부가 결정됨. 자주 화면이 변경되는 경우 v-if를 쓰면 화면 렌더를 자주해야해서 비효율적 -->
        <!-- 렌더 여부가 자주 변경되는 경우에는 v-if 대신 v-show를 사용하도록 한다 -->
    </div>
    <script type="text/javascript">
        var model = {
            amount: 10
        }
        var account = new Vue({
            el: "#account",
            data: model
        });
    </script>
</body>

</html>