<!<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>v-for array</title>
    <style>
        #list {
            width: 400px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        #list td,
        #list th {
            border: 1px solid black;
            text-align: center;
        }
        
        #list>thead>tr {
            color: yellow;
            background-color: purple;
        }
    </style>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id="example">
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <!-- contacts가 배열인 경우 -->
                <!-- v-for="(contact[, index])" -->
                <!-- contacts가 객체인 경우는 key를 이용해 value에 접근하는 hashmap 구조이므로 작성방법이 조금 다름 -->
                <tr v-for="contact in contacts">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        // model객체: 내부에 contacts라는 이름의 배열을 가지고 있는데, 이를 출력하기 위해 v-for 디렉티브를 사용
        var model = {
            "pageno": 1,
            "pagesize": 10,
            "totalcount": 100,
            "contacts": [{
                "no": 1,
                "name": "이름1",
                "tel": "010-0000-0001",
                "address": "서울 01"
            }, {
                "no": 2,
                "name": "이름2",
                "tel": "010-0000-0002",
                "address": "서울 02"
            }, {
                "no": 3,
                "name": "이름3",
                "tel": "010-0000-0003",
                "address": "서울 03"
            }, {
                "no": 4,
                "name": "이름4",
                "tel": "010-0000-0004",
                "address": "서울 04"
            }, {
                "no": 5,
                "name": "이름5",
                "tel": "010-0000-0005",
                "address": "서울 05"
            }, {
                "no": 6,
                "name": "이름6",
                "tel": "010-0000-0006",
                "address": "서울 06"
            }, {
                "no": 7,
                "name": "이름7",
                "tel": "010-0000-0007",
                "address": "서울 07"
            }, {
                "no": 8,
                "name": "이름8",
                "tel": "010-0000-0008",
                "address": "서울 08"
            }, ]
        }

        var example = new Vue({
            el: "#example",
            data: model
        })
    </script>
</body>

</html>